
.title{
    font-size: 23px;
    font-weight: 700px;
}

.daily-item{
  background-color: white;
  border-radius: 15px;
  height: 40px;
  margin: 5px;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  padding: 5px 20px;

}
.icon-small{
 
    width: 30px;
}
.day{
 color: #212121;
 flex: 1 1;
 font-weight: 600;
 margin-left: 15px;

}
.description{
 flex: 1 1;
 margin-right: 15px;
 text-align: right;
}
.min-max{
color: #757575;
}